<div class="row toolbar">
  <div class="col-md-10">
    <button class="btn btn-default">
      <i class="fa fa-square-o"></i>
    </button>

    <button class="btn btn-default" disabled="disabled">
      Mark As Read
    </button>

    <button class="btn btn-default" disabled="disabled">
      Mark As Unread
    </button>

    <select class="form-control apply-label" disabled="disabled">
      <option>Apply label</option>
      <option value="dev">dev</option>
      <option value="personal">personal</option>
      <option value="gschool">gschool</option>
    </select>

    <select class="form-control remove-label" disabled="disabled">
      <option>Remove label</option>
      <option value="dev">dev</option>
      <option value="personal">personal</option>
      <option value="gschool">gschool</option>
    </select>

    <button class="btn btn-default" disabled="disabled">
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
  <div class="col-md-2">
    <p class="text-right">
      <span class="badge"><%= @messages.count(&:unread) %></span>
      unread <%= @messages.count(&:unread) == 1 ? "message" : "messages" %>
    </p>
  </div>
</div>

<div data-section="messages">
  <% @messages.each do |message| %>
    <div data-message-url="<%= message_path(message) %>" class="row message <%= message.read ? 'read' : 'unread' %>">
      <div class="col-md-1">
        <div class="row">
          <div class="col-md-2">
            <input type="checkbox">
          </div>
          <div class="col-md-2">
            <i class="star fa <%= message.starred ? 'fa-star' : 'fa-star-o' %>"></i>
          </div>
        </div>
      </div>
      <div class="col-md-11">
        <% message.labels.each do |label| %>
          <span class="label label-warning"><%= label %></span>
        <% end %>
        <%= message.subject %>
      </div>
    </div>
  <% end %>
</div>

<footer class="spacer"></footer>
